dist
build
node_modules
coverage
package*.json
tsconfig.json

lerna.json
CHANGELOG.md

*/**/dist
*/**/build
*/**/android
*/**/node_modules
*/**/coverage
*/**/package*.json
*/**/tsconfig.json
*/**/*.hbs
